.idea
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
public/out/compiled.min.js
public/out/compiled.src.js
public/src/Cylinder.js
public/src/Ellipsoid.js
public/src/Intersection.js
public/src/RayConfig.js
public/src/RayTracer.js
public/src/Scene.js
public/src/Sphere.js
public/src/MultipleObjectsIntersection.js
public/out/compiled.js
public/out/compiled.js.map
public/out/compiled.min.js.map
public/out/compiled.src.coffee
public/src/SceneLoader.js
