.firebase
.idea
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
public/out/compiled.min.js
public/out/compiled.src.js
public/src/Cylinder.js
public/src/Ellipsoid.js
public/src/Intersection.js
public/src/RayConfig.js
public/src/RayTracer.js
public/src/Scene.js
public/src/Sphere.js
public/src/MultipleObjectsIntersection.js
public/out/compiled.js
public/out/compiled.js.map
public/out/compiled.min.js.map
public/out/compiled.src.coffee
public/src/SceneLoader.js
public/out/compiled.src.map
public/src/Camera.js
public/src/Camera.map
public/src/Intersection.map
public/src/RayConfig.map
public/src/RayTracer.map
public/src/Scene.map
public/src/SceneLoader.map
public/src/SphereSphereIntersection.js
public/src/figures/Cylinder.js
public/src/figures/Cylinder.map
public/src/figures/Ellipsoid.js
public/src/figures/Ellipsoid.map
public/src/figures/Hemisphere.js
public/src/figures/Hemisphere.map
public/src/figures/MultipleObjectsIntersection.js
public/src/figures/MultipleObjectsIntersection.map
public/src/figures/Plane.js
public/src/figures/Plane.map
public/src/figures/Sphere.js
public/src/figures/Sphere.map
public/src/helpers.js
public/src/helpers.map
test/out
